<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJrlfnd-g5JHqL93GFxLeo6lJEsAaEJus</string>
	<key>GCM_SENDER_ID</key>
	<string>1003164058180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emeron</string>
	<key>PROJECT_ID</key>
	<string>curso-emeron-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>curso-emeron-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003164058180:ios:6180dcbe0843244c363211</string>
</dict>
</plist>